.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #6464ae;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials-container {
  border: 1px solid #faf8f6;
  width: 25%;
  height: 72%;
  text-align: center;
  padding: 5px;
}

.footer-container {
  width: 5%;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
