.homepage-container {
  height: 100vh;
  background: rgb(31, 30, 51);
  background: linear-gradient(
    349deg,
    rgba(31, 30, 51, 1) 0%,
    rgba(69, 68, 113, 1) 35%,
    rgba(31, 30, 51, 1) 100%
  );
}

.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper {
  margin-top: 5vh;
}

.img-container {
  position: relative;
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.swiper-img {
  width: 100%;
  user-select: none;
}
