.request-container {
  height: 140vh;
  background: rgb(31, 30, 51);
  background: linear-gradient(
    349deg,
    rgba(31, 30, 51, 1) 0%,
    rgba(69, 68, 113, 1) 35%,
    rgba(31, 30, 51, 1) 100%
  );
}

.request-form-container {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rq-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
  position: relative;
}

.request-field {
  padding: 8px 10px;
  width: 15vw;
  border-radius: 8px;
  font-size: 15px;
}

.request-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #6464ae;
  color: #faf8f6;
  float: right;
}
