.navbar-container {
  height: 12vh;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #faf8f6;
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
}

.navbar-menu {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid yellow;
}

.vl {
  border-left: 1px solid #faf8f6;
  height: 20px;
}

a {
  color: #faf8f6;
}

.mobile-menu-icon {
  display: none;
}

.app-icon {
  display: none;
}

#searchBar {
  width: 85%;
  font-size: 16px;
  border: none;
  width: 100%;
  outline: none;
}

@media only screen and (max-width: 960px) {
  .mobile-menu-icon {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .app-icon {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 40px;
  }
  .navbar-menu {
    display: none;
  }
}
