.navbar-container {
  height: 12vh;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #faf8f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: auto;
  margin-left: 40px;
  height: 60px;
  width: 120px;
  margin-top: 8px;
}

.navbar-menu {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.vl {
  border-left: 1px solid #faf8f6;
  height: 20px;
}

a {
  color: #faf8f6;
}

.mobile-menu-icon {
  display: none;
}

.app-icon {
  display: none;
  height: 50px;
  width: 50px;
}

#searchBar {
  width: 85%;
  font-size: 16px;
  border: none;
  width: 100%;
  outline: none;
}

.nav-searchbar {
  align-items: center;
  display: flex;
  border-radius: 8px;
  background-color: #faf8f6;
  width: 80%;
  padding: 6px 5px;
}

.nav-searchbar span {
  margin: 0px;
}

.search-result {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.search-result:hover {
  background-color: #7e7ed8;
}

.search-result-img {
  max-height: 60px;
  padding: 5px;
}

.search-dropdown {
  width: 40vw;
  position: absolute;
  top: 55px;
  z-index: 99;
  background-color: #faf8f6;
}

.drawer-container {
  width: 300px;
  background-color: #2f2e4f;
  padding-top: 50px;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .mobile-menu-icon {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .app-icon {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 40px;
  }
  .navbar-menu {
    display: none;
  }
}
